@font-face {
    font-family: 'futurastd_book';
    src: url('fonts/futurastd-book-webfont.eot');
    src: url('fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/futurastd-book-webfont.woff') format('woff'),
        url('fonts/futurastd-book-webfont.ttf') format('truetype'),
        url('fonts/futurastd-book-webfont.svg#futurastd_book') format('svg');
    font-weight: normal;
    font-style: normal;

}

div[data-role="page"]{
    background: url(../img/backgrounds/bg.jpg) repeat;
}

div[data-role="header"]{
    background: url(../img/backgrounds/header_bg.png) repeat;
    border: 0;
}

.ui-block-a a.ui-btn, .ui-block-b a.ui-btn, .ui-block-c a.ui-btn, .ui-block-d a.ui-btn{
    background: url("../img/backgrounds/btn_bg.png") no-repeat scroll 50% 50% / 110% 105% rgba(0, 0, 0, 0);
    border: 0!important;
}

body, input, select, textarea, button, .ui-btn {
    font-family: futurastd_book;
}

.ui-title img {
    margin: -8px 0;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right!important;
}

.align-left{
    text-align: left!important;
}

.banner{
    width: 100%;
    background-color: transparent;
}

.ui-bar-inherit, .ui-btn{
    background-color: transparent!important;
    border: 0!important;
}

#home .homeimg {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background: #ffffff;
    padding: 2px;
    border: 2px solid #9E9E9E;
}

#contact .mapimg{
    width: 100%;
    max-width: 300px;
}

#catalog .main-menu{
    margin: 10px;
    padding: 10px;
}

#catalog .main-menu > img{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
}

#catalog .main-menu > span{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px!important;
}

#catalog .main-menu > span, #catalog .main-menu > img{
    float: left;
    clear: right;
}

.catalog_footer ul li, .order_footer ul li, .about_footer ul li{
    width: 24.7%!important;
    float: left;
    clear: right;
    margin: 0 1px 0 0;
}

#orderdecs-popup{
    width: 98%!important;
    top: 304px!important;
}

.starters-menu{
    background-color: bisque;
    margin: 10px;
    margin-right: 10px;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.starters-menu .starters-img{
    width: 10%;
    float: left;
    margin-right: 10px;
}
.starters-menu > .starters-info{
    font-size: 10px!important;
    width: 70%;
    margin: 0;
    padding: 0;
}

.starters-info h3{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.myorders > table{
    width: 100%;
    text-align: center;
    color: #fff!important;
}

.ui-btn, .ui-input-text{
    background-color: bisque!important;
    border: 0!important;
}

.ui-footer .ui-btn{
    color: #fff;
}

.ui-content{
    color: #fff!important;
}

.ui-listview > li{
    margin: 2px!important;
}

@media screen and (min-width: 800px) {
    .video {
        width: 31%;
        float: left;
    }
    .image {
        width: 23.5%;
        float: left;
        margin-right: 1px;
        height: 350px;
    }
    .image:hover {
        overflow-y: auto;
    }


}