@font-face {
    font-family: 'futurastd_book';
    src: url('fonts/futurastd-book-webfont.eot');
    src: url('fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/futurastd-book-webfont.woff') format('woff'),
        url('fonts/futurastd-book-webfont.ttf') format('truetype'),
        url('fonts/futurastd-book-webfont.svg#futurastd_book') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ui-header-fixed {
    z-index: 1002;
}

.ui-header .ui-btn {
    background: none;
    border: none;
    box-shadow: none;
}

.ui-btn-left span{
    font-size: 1.3em;
}

textarea{
    height: auto!important;
}

.intro_txt{
    text-align: center;
    color: #000000;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.jayam {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: .9em;
    color: #ffffff;
}

.jayam a {
    text-decoration: none;
    color: #ffffff!important;
}

.request_btns{
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #eee;
}

.ui-btn-2:first-child {
    border-right: 1px solid #eee;
}

.request_btns .ui-btn-2, .request_btns .ui-btn-1 {
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.request_btns .ui-btn-2{
    width: 48%;
}

.request_btns .ui-btn-1 {
    width: 98%;
}

div[data-role="page"]{
    background: transparent;
}

.ui-block-a a.ui-btn, .ui-block-b a.ui-btn, .ui-block-c a.ui-btn, .ui-block-d a.ui-btn{
    border: 0!important;
}

div[data-role="footer"] .ui-grid-solo .ui-btn{
    display: block;
}

body, input, select, textarea, button, .ui-btn {
    font-family: futurastd_book;
}

.ui-title img {
    margin: -8px 0;
}

.ui-grid-b{
    max-width: 70%!important;
    border: 1px solid #E4E4E4;
    overflow: hidden;
}

.ui-grid-b .ui-block-a > a, .ui-grid-b .ui-block-c > a, .ui-grid-b .ui-block-b > input{
    width: 100%;
    text-align: center;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 0;
}

.ui-grid-b .ui-block-a > a, .ui-grid-b .ui-block-c > a{
    text-decoration: none;
    cursor: pointer;
}

.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c{
    overflow: hidden;
    margin: 0!important;
    padding: 0!important;
    float: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right!important;
}

.align-left{
    text-align: left!important;
}

.band{
    width: 100%;
    background: #F55E3D;
    padding: 10px 0;
    margin: 0;
}

#delivery .ui-content .ui-content {
    padding-left: 0!important;
}

#developed > img{
    width: 100px;
    height: auto;
}

#intro{
    background: url("../img/intro.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

#home .homeimg, #intro .homeimg {
    width: 100%;
    border-radius: 50%;
    max-width: 300px;
    margin: 20px auto;
    background: #ffffff;
    padding: 2px;
    border: 2px solid #9E9E9E;
}

#contact .mapimg{
    width: 100%;
}

#catalog .category{
    margin: 0 0 10px 0;
    padding: 0 10px 0 0;
    position: relative;
    border-radius: 5px;
}

#catalog .category > img{
    margin: 0;
    padding: 0;
    width: 60px;
    height: auto;
    float: left;
}

#catalog .category > span{
    margin: 5px 10px 5px 70px;
    text-align: left;
    font-size: 1.2em!important;
    display: block;
    //white-space: normal;
    word-wrap: break-word;
    line-height: 260%;
}

.menu-items{
    color: #000000;
    clear: both;
    overflow: hidden;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #AAAAAA;
    border-radius: 5px;
    margin: 10px 0;
}

#my_cart_items > table, #ordered_items > table, #ordered_items_list > table {
    width: 100%;
}

.menu-items > img{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.menu-items .item-info{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.item-info h3{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.select-qty{
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #E4E4E4;
}

.select-qty > input, .select-qty > a{
    width: 25px;
    text-align: center;
    margin: 0;
    float: left;
    padding: 0;
}

.select-qty > a{
    text-decoration: none;
    cursor: pointer;
}

.remove_form{
    display: none;
}

.rateNormal {
    display: none;
}

.rateSpl{
    text-decoration: line-through;
    color: #999999;
}

.selected{
    background-color: #8AC500;
}

.item-decs{
    font-size: 12px!important;
    color: #555555;
}

.clear_both{
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
}

.item-qty{
    margin-right: 10px;
    float: right;
    overflow: hidden;
    clear: both;
}

#map_canvas{
    height: 350px;
}

.remove-item, #results {
    display: none;
}

.selected .remove-item {
    display: inline-block;
    background-color: tomato;
    font-size: 12px;
    color: #F55E3D!important;
    text-shadow: none;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    background: #666666;
    padding: 3px 6px;
    border-radius: 50%;
}

.selected .select-qty {
    border-color: #6f9e00;
}

.symbol{
    cursor: pointer;
    font-size: 20px;
}

.add-btn{
    padding: 0;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.ui-listview > li{
    margin: 2px!important;
}

.ui-page {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

@media screen and (min-width: 800px) {
    .video {
        width: 31%;
        float: left;
    }
    .image {
        width: 23.5%;
        float: left;
        margin-right: 1px;
        height: 350px;
    }
    .image:hover {
        overflow-y: auto;
    }
}

@media screen and (max-width: 327px) {
    body{
        font-size: 0.9em;
    }

    #catalog .category > img {
        width: 50px;
    }

    div[data-role="header"], div[data-role="header"] > a{
        font-size: 14px!important;
    }

    div[data-role="header"] > a{
        padding: 5px;
    }

    #catalog .category > span{
        font-size: 16px!important;
    }
}

@media screen and (max-width: 240px) {
    div[data-role="header"], div[data-role="header"] > a{
        font-size: 14px!important;
    }

    div[data-role="header"] > a{
        padding: 5px;
    }
}

@media screen and (min-width: 320px) and (orientation:portrait) {
    @-ms-viewport { 
        width: 320px!important; 
        height:device-heigth!important;
    }
}

@media screen and (min-height: 320px) and (orientation:landscape) {
    @-ms-viewport { 
        width:auto!important; 
        height:320px!important; 
    }
}